<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="E_Storage.Properties.Settings.MyDBConnectionString"
            connectionString="Data Source=LAPTOP-610FCAGM\SQLEXPRESS;Initial Catalog=MyDB;User ID=User"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
